<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vacancies</title>
</head>
<body>
<div class="content-wrap">
    <h1>Vacancies</h1>

    <div class="l-items" id="vacancyListId">
        <ul class="lt">
            <li class="l-vacancy template" style="display: none;">
                <div class="date"></div>
                <div class="title">
                    <a class="vt" href=""></a>
                    &nbsp;<strong>at&nbsp;
                    <a class="company" href="">
                        <img alt="" class="f-i" src="" />&nbsp;<span class="companyName"></span>
                    </a></strong>
                    <span class="cities"></span>
                </div>

                <div class="sh-info"></div>

                <span class="salary"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
