<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Vacancies</title>
 </head>
 <body>
  <div class="content-wrap">
   <h1>Vacancies</h1>
   <div class="l-items" id="vacancyListId">
    <ul class="lt">
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/delasport/vacancies/322277/?from=list_hot">Middle Java Developer (Payment system, office, Kyiv)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Delasport</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/delasport/vacancies/245071/?from=list_hot">Middle Java Developer (Bonus engine, office, Kyiv)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Delasport</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/ciklum/vacancies/324273/">Senior Java Engineer (239)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Ciklum</span> </a></strong> <span class="cities">Київ, Львів, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/dataart/vacancies/324002/">Java Support Engineer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">DataArt</span> </a></strong> <span class="cities">Київ, Харків, Львів, Дніпро, Одеса, Астана (Казахстан), Краків (Польща), Ларнака (Кіпр), Лодзь (Польща), Рига (Латвія), Софія (Болгарія), Тбілісі (Грузія), Варна (Болгарія), Вроцлав (Польща), Єреван (Вірменія), Алмати (Казахстан)</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/privatbank/vacancies/323709/">Middle Java Developer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">ПриватБанк</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/national-bank-of-ukraine/vacancies/305333/">Full-stack developer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">National Bank of Ukraine</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/mriia/vacancies/323374/">Tech Lead (Java)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Мрія</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/thingsboard-inc/vacancies/323296/">Java Developer (office/hybrid)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">ThingsBoard</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/wix/vacancies/83339/">Server Engineer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">WiX</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/solidgate/vacancies/231587/">Senior Java/Kotlin Engineer (Core)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Solidgate</span> </a></strong> <span class="cities">Київ, Варшава (Польща), віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/privatbank/vacancies/322986/">Middle QA Engineer (with Java)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">ПриватБанк</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/unitalk/vacancies/322706/">Middle Fullstack Developer (AI focus)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">UniTalk</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary">$1500–2500</span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/delasport/vacancies/251859/">Senior QA Automation Engineer (Java, hybrid, Kyiv)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Delasport</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/delasport/vacancies/247571/">Middle QA Automation Engineer (Java, office, Kyiv)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Delasport</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/n-ix/vacancies/298238/">Senior Java Engineer (#4028)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">N-iX</span> </a></strong> <span class="cities">Київ, Львів, Дніпро, Вінниця, Івано-Франківськ, Тернопіль, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/golden-dimension/vacancies/322080/">Senior Java Software Engineer (Fintech)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">GD Next</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/n-ix/vacancies/298036/">Senior Java Software Engineer with React skills (#3667)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">N-iX</span> </a></strong> <span class="cities">Київ, Львів, Дніпро, Вінниця, Івано-Франківськ, Тернопіль, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/n-ix/vacancies/293634/">Senior Java Software Engineer (#3845)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">N-iX</span> </a></strong> <span class="cities">Київ, Львів, Дніпро, Вінниця, Івано-Франківськ, Тернопіль, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/n-ix/vacancies/293635/">Senior Java Engineer (with DevOps skills) (#4020)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">N-iX</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://jobs.dou.ua/companies/auto1-group/vacancies/321991/">Senior Java Software Engineer in SRE (f/m/d)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">AUTO1 Group</span> </a></strong> <span class="cities">Київ, віддалено</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/5632425/">Java Software Engineer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">2,5 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/6273929/">Java Developer (middle) (Kyivstar TV)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">2,5 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/7109326/">Java-розробник (Middle)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Дика Л.В., ФОП</span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/5373802/">Middle Java Developer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">8,9 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/4557745/">Middle Java Developer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">6,5 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/7044652/">Програміст мікроконтролерів (Java, C, Phyton, Arduino)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">Київ</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/705203/">Комплектувальник, комірник, різноробочий (Нивки)</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName">Ява-ін, ТОВ</span> </a></strong> <span class="cities">9,8 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href="https://www.work.ua/jobs/5547103/">Junior/Middle Profile Java Backend Developer</a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities">6,7 км від центру</span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
     <li class="l-vacancy template" style="display: none;">
      <div class="date"></div>
      <div class="title">
       <a class="vt" href=""></a> &nbsp;<strong>at&nbsp; <a class="company" href=""> <img alt="" class="f-i" src=""> &nbsp;<span class="companyName"></span> </a></strong> <span class="cities"></span>
      </div>
      <div class="sh-info"></div><span class="salary"></span></li>
    </ul>
   </div>
  </div>
 </body>
</html>